<html>

<head>
    <style>

    </style>
</head>

<body>
    <img width="40" alt="Uninter" src="C:\Users\grace\source\Angular\TaskUninter\src\app\list\img\logo_uninter.png" />
    <h1>Usuários</h1>

    <table border=1>
        <tr>
            <td><b>Nome</b></td>
            <td><b>RU</b></td>
            <td><b>Curso</b></td>
            <td><b>Data Nascimento</b></td>
        </tr>

        <tr>
            <td>Usuário 1</td>
            <td>0000001</td>
            <!--<td>
                <select required>
                <option value='computacao'>Computação</option>
                <option value='letras'>Letras</option>
                <option value='direito'>Direito</option>
                <option value='contabilidade'>Contabilidade</option>
                <option value='fisica'>Física</option>
              </select>
            </td>-->
            <td>Computação</td>
            <td>01/01/2001</td>
        </tr>
        <tr>
            <td>Usuário 2</td>
            <td>0000002</td>
            <td>Letras</td>
            <td>01/01/2002</td>
        </tr>
        <tr>
            <td>Usuário 3</td>
            <td>0000003</td>
            <td>Contabilidade</td>
            <td>01/01/2003</td>
        </tr>
        <tr>
            <td>Usuário 4</td>
            <td>0000004</td>
            <td>Física</td>
            <td>01/01/2004</td>
        </tr>
        <tr>
            <td>Grace Tôrres Leite</td>
            <td>1311803</td>
            <td>Análise e desenvolvimentos de Sistemas</td>
            <td>02/06/1979</td>
        </tr>

    </table>

</body>
<!-- Footer -->
<footer>
    <b>Uninter Project Angular!&nbsp;</b>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Give my repo on GitHub Grace Tôrres Leite.</a>
</footer>

</html>
